*{ 
    padding: 0; 
    margin: 0; 
    border: 0; 
    text-decoration: none; 
} 
    
:focus,:active{outline: none;} 
a:focus,a:active{outline: none;} 

nav,footer,header,aside{display: block;} 

:root{ 
--boss: rgb(160, 160, 160); 
--colors: rgb(210, 198, 198); 
}  

input,button,textarea{font-family:inherit;} 

input::-ms-clear{display: none;} 
button{cursor: pointer;} 
button::-moz-focus-inner {padding:0;border:0;} 
a, a:visited{text-decoration: none;} 
a:hover{text-decoration: none;} 
ul li{list-style: none;}
ol li{list-style: none;}  
img{vertical-align: top;} 

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;} 

html{ 
scroll-behavior: smooth; 
}
body {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 110vh;
    background-color: #234b75;
    transition: 2s;
}
.left {
    width: 300px;
    /* border: 1px solid #cacaca; */
    height: 100vh;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
}
.right {
    width: 300px;
    /* border: 1px solid #cacaca; */
    height: 100vh;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
}
.header {
    /* border: 1px solid #000; */
    display: flex;
    /* max-width: 1200px; */
    width: 100%;
    /* margin: 0 auto; */
    justify-content: space-between;
    transform: translateY(30px);
    position: absolute;
    z-index: 150;
}
.header__logo {
    /* position: absolute; */
    width: 60px;
    margin-left: 100px;
    transition: 0.2s;
}
.header__menu {
    width: 40px;
    cursor: pointer;
    position: relative;
    /* position: absolute; */
    padding: 10px;
    /* right: 100px; */
    border-radius: 50%;
    transition: 1s;
    z-index: 100;
    margin-right: 100px;
}
/* .header__menu:hover {
    transform: scale(1.2);
} */
.header__menu.rotate {
    transform: rotate(360deg);
    background: white;
}
.menu {
    /* display: flex;
    flex-direction: column; */
    /* position: absolute; */
    position: fixed;
    z-index: 30;
    /* background: transparent; */
    width: 40px;
    height: 40px;
    right: 110px;
    background: #000;
    top: 40px;
    /* opacity: 0; */
    border-radius: 50%;
    /* transform: translate(-50%, -50%); */
    transform: scale(0);
    transition: all 1s ease;
}
.menu.new {
    /* transform: scale(2);
    width: 100%;
    height: 100vh; */
    transform: scale(100);
    background: #000;
    top: -30px;
    right: 0;
    opacity: 1;
}
.menu__box {
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* padding-top: 50px; */
    transform: translateY(1000px);
    transition: all 0.7s ease;
    top: -25px;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 50;
    opacity: 0.5;
}
.menu__box.effect {
    transform: translateY(0px);
    opacity: 1;
}
.menu__block1 {
   /*  position: fixed; */
   /*  position: absolute; */
    /* top: 190px; */
    position: relative;
    display: flex;
    flex-direction: column;
    width: 400px;
    box-shadow:  0 0 20px white;
    height: 500px;
    /* left: 370px; */
    border-radius: 20px;
    z-index: 30;
}
.menu__block1-img1 {
    position: absolute;
    width: 390px;
    top: 25%;
    left: 5px;
    opacity: 0.8;
    /* display: none; */
    transform: translateY(30px);
    transition: all 0.5s ease;
    opacity: 0;
}
.menu__block1-img2 {
    position: absolute;
    width: 400px;
    top: 10%;
    /* left: 5px; */
    opacity: 0.6;
    display: none;
}
.menu__block1-img3 {
    position: absolute;
    width: 400px;
    top: 35%;
    left: 3px;
    opacity: 0.6;
    display: none;
}
.menu__block1-img4 {
    position: absolute;
    width: 390px;
    top: 10%;
    left: 5px;
    opacity: 0.6;
    display: none;
}
.menu__block2 {
    display: flex;
    flex-direction: column;
    gap: 30px;
    z-index: 30;
}
.menu1 {
    background-color: #0b3664;
    padding: 8px;
    font-size: 17px;
    color: white;
    font-family: 'Press Start 2P';
    text-shadow: 0 0 20px white;
    background: transparent;
    border-radius: 20px;
    box-shadow: 0 0 20px white;
    cursor: pointer;
}
.menu2 {
    background-color: #328521;
    padding: 10px;
    font-size: 17px;
    color: white;
    font-family: 'Press Start 2P';
    text-shadow: 0 0 20px white;
    background: transparent;
    border-radius: 20px;
    box-shadow: 0 0 20px white;
    cursor: pointer;
}
.menu3 {
    background-color: #8f1e18;
    padding: 10px;
    font-size: 17px;
    color: white;
    font-family: 'Press Start 2P';
    text-shadow: 0 0 20px white;
    background: transparent;
    border-radius: 20px;
    box-shadow: 0 0 20px white;
    cursor: pointer;
}
.menu4 {
    background-color: #000000;
    padding: 10px;
    font-size: 17px;
    color: white;
    font-family: 'Press Start 2P';
    text-shadow: 0 0 20px white;
    background: transparent;
    border-radius: 20px;
    box-shadow: 0 0 20px white;
    cursor: pointer;
}
.main {
}
.slider {
    /* border: 1px solid #000; */
    width: 100%;
    margin: 0 auto;
    height: 100vh;
    /* padding: 200px 15px; */
    display: flex;
    transition: 1s;
    overflow: hidden;
}
.slide {
    width: 100%;
    /* background-color: #146234; */
    flex: 0 0 100%;
}
/* .slide:nth-child(1) {
    width: 100%;
    height: 100%;
    background: red;
    transition: 5s;
}
.slide:nth-child(2) {
    width: 100%;
    height: 100%;
    background: blue;
    transition: 5s;
} */
.box{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
    transform: translateY(-100px);
    margin-bottom: 50px;
}
.btn {
    cursor: pointer;
    font-size: 30px;
    font-weight: 900;
    color: #e6e6e6;
    width: 50px;
}
.btn:hover {
    transform: scale(1.2);
}
.btn:nth-child(3) {
    width: 100px;
}
.btn:nth-child(2) {
    width: 60px;
}
.btn:nth-child(4) {
    width: 75px;
}
.slide__body {
    max-width: 1200px;
    margin: 0 auto;
    height: 50%;
    /* border: 1px solid #000; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    /* border: 1px solid #000; */
    /* top: 50px; */
    margin-top: 180px;
    transition: all 0.5s ease;
}
.block {
    /* position: absolute; */
    position: absolute;
    max-width: 800px;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    /* border: 1px solid #000; */
    /* top: 100px; */
    right: 0;
    bottom: 100px;
    /* right: 80px; */
    /* top: 350px; */
}
.block2 {
    position: absolute;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    right: 80px;
    top: 400px;
}
.block3 {
    position: absolute;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    right: 80px;
    top: 300px;
}
.block4 {
    position: absolute;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    right: 80px;
    top: 280px;
}
.img1 {
    max-width: 800px;
    position: absolute;
    left: -100px;
    bottom: 0;
    /* position: relative; */
    /* bottom: 0; */
    /* left: -100px; */
    /* top: 50px; */
    /* animation: scale 5s infinite; */
}
.img2 {
    width: 500px;
    position: absolute;
    right: 50px;
    /* top: 100px; */
    /* animation: scale 5s infinite; */
}
.img3 {
    max-width: 500px;
    position: absolute;
    left: 0px;
    /* animation: scale 5s infinite; */
}
.img4 {
    width: 500px;
    position: absolute;
    right: 50px;
    /* animation: scale 5s infinite; */
}
.img5 {
    max-width:500px;
    position: absolute;
    left: 50px;
    top: -200px;
    /* animation: scale 5s infinite; */
}
.img6 {
    width: 500px;
    position: absolute;
    right: 0px;
    /* animation: scale 5s infinite; */
}
.img7 {
    max-width: 380px;
    position: absolute;
    left: 150px;
    top: 0px;
    /* animation: scale 5s infinite; */
}
.img8 {
    max-width: 500px;
    position: absolute;
    right: 0px;
    top: -250px;
    /* animation: scale 5s infinite; */
}
.text1 {
    width: 500px;
    position: absolute;
    right: 50px;
    text-align: center;
    font-size: 20px;
    font-weight: 800;
    top: -50px;
    color: white;
    text-shadow: 0 0 20px black;
    font-family: 'Montserrat Alternates';
    /* animation: scale 5s infinite; */
}
.text2 {
    width: 500px;
    top: -180px;
    position: absolute;
    right: 50px;
    text-align: center;
    font-size: 20px;
    font-weight: 900;
    /* top: -100px; */
    color: black;
    text-shadow: 0 0 8px white;
    font-family: 'Bebas Neue';
    /* animation: scale 5s infinite; */
}
.text3 {
    width: 500px;
    position: absolute;
    right: 0px;
    text-align: center;
    font-size: 20px;
    font-weight: 900;
    top: -90px;
    color: black;
    text-shadow: 0 0 8px white;
    font-family: 'Chewy';
    /* animation: scale 5s infinite; */
}
.text4 {
    width: 500px;
    position: absolute;
    right: 0px;
    text-align: center;
    font-size: 20px;
    font-weight: 900;
    top: -90px;
    color: black;
    text-shadow: 0 0 3px green;
    font-family: 'Press Start 2P';
    /* animation: scale 5s infinite; */
}
/* @keyframes scale {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.03);
    }
    100% {
        transform: scale(1);
    }
} */
.paralax {
    transition: 0.2s;
}
.paralaxTwo {
    transition: 0.2s;
}
.footer {
}
/* Стилі для великих екранів (дисплей максимум 1199рх) */
@media (max-width: 1199px) {
    .img1 {
        max-width: 600px;
        left: 0;
    }
    .img2, .text1 {
        max-width: 400px;
        /* border: 1px solid #000; */
    }
    .block {
        right: 50px;
        bottom: 110px;
    }
    .img4 {
        max-width: 350px;
    }
    .text2 {
        max-width: 350px;
        top: -120px;
    }
    .img3 {
        max-width: 450px;
        left: 80px;
    }
    .block2 {
        top: 250px;
    }
    .img5 {
        top: -200px;
        max-width: 450px;
        left: 80px;
    }
    .block3 {
        top: 200px;
        right: 80px;
    }
    .img6, .text3 {
        max-width: 350px;
    }
    .img7 {
        max-width: 300px;
        left: 150px;
        /* border: 1px solid #ffffff; */
    }
    .img8 {
        max-width: 350px;
        /* border: 1px solid #ffffff; */
    }
    .text4 {
        max-width: 350px;
        top: -120px;
    }
    .block4 {
        top: 200px;
        right: 150px;
    }
    html {
        overflow: hidden;
    }
}

/* Стилі для середніх екранів (дисплей максимум 991рх) */
@media (max-width: 991px) {
    .slide {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .img1 {
        max-width: 500px;
        position: relative;
        top: -250px;
    }
    .block {
        position: relative;
        bottom: -20px;
        align-items: center;
        display: flex;
        left: 40px;
    }
    .text1 {
        max-width: 600px;
        /* border: 1px solid #000; */
    }
    .img2 {
        max-width: 300px;
        left: -435px;
    }
    .block2 {
        bottom: 0;
        left: 220px;
    }
    .img3 {
        top: -350px;
        left: -200px;
        max-width: 400px;
    }
    .img4 {
        max-width: 300px;
        top: -320px;
    }
    .text2 {
        max-width: 500px;
        /* top: -120px; */
        top: -100px;
        left: -480px;
    }
    .img5 {
        top: -460px;
        left: -200px;
    }
    .block3 {
        right: -180px;
    }
    .text3 {
        max-width: 500px;
        right: -80px;
        top: -80px;
    }
    .img6 {
        right: -10px;
    }
    .img7 {
        max-width: 300px;
        top: -200px;
        left: -150px;
    }
    .block4 {
        top: 300px;
        right: -250px;
    }
    .text4 {
        max-width: 500px;
    }
}

/* Стилі для малих екранів (дисплей максимум 767рх) */
@media (max-width: 767px) {
}

/* Стилі для дуже малих екранів (дисплей максимум 575рх) */
@media (max-width: 575px) {
}